/* Perceba que com o scss podemos fazer comentários com as barras duplas enquanto
no css normal só podemos fazer comentário com o barra asterisco como nesse comentário aqui */


// Colors
$white: #fff;
$red: #e60023;
$black: #111;
$gray-light: #efefef;

// Timing
$fade-duration: 1s;
$columns-transition-delay: 0.2s;